
body{
  padding: 0;
  margin: 0;
  font-family: microsoft jhenghei ui,sans-serif;
  user-select: none;
}
ul,li{
  list-style: none;
  padding: 0;
  margin: 0;
}
h1,h2,h3,h4,h5,h6,p{
  margin: 0;
}
a{
  text-decoration: none;
  cursor: default;
}
img{
  max-width: 100%;
}
.clearfix:after{
  content: '';
  display: table;
  clear: both;
}
.bgCover{
  background-position: center;
  background-size: cover;
}
.wrapper{
  overflow: hidden;
}
.container{
  width: calc(100% - 30px);
  max-width: 480px;
  margin: auto;
  display: block;
}
.clicker input{
  display: none;}
.clicker input + label{
  height: 30px;
  width: 55px;
  display: block;
  background-color: #888;
  border-radius: 30px;
  position: relative;
  transition: 0.3s;
  overflow: hidden;}
.clicker input + label nav{
  height: 24px;
  width: 24px;
  background-color: #fff;
  border-radius: 30px;
  top: 3px;
  position: absolute;
  left: 3px;
  box-shadow: 1px 2px 4px #00000042;
  transition: 0.5s;}
.clicker input:checked + label{
  background-color: #aee5fd;
}
.clicker input:checked + label nav{
  left: calc(100% - 27px);
}
.todayClassPage{}
.todayClassPage .topbanner{
  background-size: cover;
  background-position: center;
  height: 30vh;}
.todayClassPage .topbanner .container{;
  position: relative;
  height: 100%;}
.todayClassPage .topbanner article{
  position: absolute;
  top: 20%;
  color: #fff;}
.todayClassPage .topbanner article p{
  font-weight: 500;}
.todayClassPage .topbanner article h3{}
.todayClassPage .description{
  min-height: calc(16vh - 20px);
  padding-top: 20px;}
.todayClassPage .description h3{
  margin-bottom: 6px;}
.todayClassPage .description p{
  font-size: 14px;}
.todayClassPage .step{
  min-height: calc(50vh - 10px);
  display: flex;
  flex-direction: column;
  padding-top: 10px;}
.todayClassPage .step article{
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;}
.todayClassPage .step a.stepBtn{
  display: flex;
  width: calc(90% - 80px);
  justify-content: space-between;
  align-items: center;
  background-color: #f6f6f6;
  padding: 17px 40px;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}
.todayClassPage .step a.stepBtn:before{
  position: absolute;
  content: '';
  background-color: rgba(255,255,255,0.1);
  display: block;
  width: 50%;
  opacity: 0;
  height: 100%;
  top: 0;
  right: 0;
  border-radius: 50px 0 0 50px;
  transition: 0.3s;
}
.todayClassPage .step a.stepBtn img{
  height: 40px;
  position: relative;
}
.todayClassPage .step a.stepBtn span{
  position: relative;
  font-weight: 600;
  color: #b7b7b7;
  font-size: 17px;}
.todayClassPage .step a.stepBtn.active{
  box-shadow: 1px 1px 20px #c7eeff6b;
  background: rgb(127,192,255); /* Old browsers */
  background: -moz-linear-gradient(left, rgba(127,192,255,1) 0%, rgba(182,232,255,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, rgba(127,192,255,1) 0%,rgba(182,232,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, rgba(127,192,255,1) 0%,rgba(182,232,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7fc0ff', endColorstr='#b6e8ff',GradientType=1 ); /* IE6-9 */
}
.todayClassPage .step a.stepBtn.active span{
  color: #fff
}
.todayClassPage .step a.stepBtn.active img{
  filter: drop-shadow(1px 1px 15px rgba(0,0,0,0.1));
}
.todayClassPage .step a.stepBtn.active:hover:before,
.todayClassPage .step a.stepBtn.active:active:before{
  opacity: 1;
  width: 80%;
}

.videoPage{}
.videoPage .videoMain{}
.videoPage.fullscreen .videoMain{
  height: 100vh;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
}
.videoPage .videoMain .videoWrapper{
  position: relative;
}
.videoPage.fullscreen .videoMain .videoWrapper video{
  max-height: 100vh
}
.videoPage .videoMain .videoWrapper video{
  width: 100%;
  display: block;
  background-color: #000;
  background-image: none;
  max-height: 250px;
}
.videoWrapper .layout{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 0.5s;
}
.videoWrapper .layout .fullScreenIcon{
  position: absolute;
  right: 0;
  top: 0;
  padding: 10px;
  width: 27px
}
.videoWrapper .layout .playBtnBlock{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100% - 40px);
  display: flex;
  align-items: center;
  justify-content: center;
}
.videoWrapper .layout .playBtnBlock img{
  width: 30px;
  transition: 0.3s;
  transform: translateX(-20px)translateZ(0px)scale(0.4);
  opacity: 0;
}
.videoWrapper .layout.onPause .playBtnBlock img{
  transform: translateX(0)translateZ(0px)scale(1);
  opacity: 1;
  margin-top: 20px;
}
.videoWrapper .layout.onPause{
  background-color: #00000075;
}
.videoWrapper .layout.onPause.neverLaunched{
  background-color: #000;
}
.videoWrapper .layout .contrlBar{
  position: absolute;
  bottom: 0;
  display: flex;
  width: calc(100% - 20px);
  left: 0;
  padding: 10px;}
.videoWrapper .contrlBar .timeCtrl{
  width: calc(100% - 70px);
  display: flex;
  align-items: center;
  justify-content: space-between;}
.videoWrapper .contrlBar .timeCtrl > span{
  color: #fff;
  font-size: 0.7rem;}
.videoWrapper .contrlBar .timeCtrl .timeBar{
  width: calc(100% - 20px);
  height: 3px;
  background-color: #ffffff6e;
  margin: 0 20px;
  position: relative;
  border-radius: 5px;}
.videoWrapper .contrlBar .timeCtrl .timeBar .progress{
  position: absolute;
  width: 0%;
  top: 0;
  height: 100%;
  background-color: #60a9f0;
}
.videoWrapper .contrlBar .timeCtrl .timeBar .progress b{
  position: absolute;
  width: 16px;
  height: 16px;
  right: 0;
  background-color: #fff;
  border-radius: 50%;
  top: -7px;
  margin-right: -8px;
}
.videoWrapper .contrlBar .subCtrl{
  width: 70px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.videoWrapper .contrlBar .subCtrl span{
  background-color: #fff;
  font-size: 10px;
  padding: 3px 8px;
  border-radius: 10px;
  line-height: 1.3;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 12px;
}
.videoWrapper .layout ul.subtitleSelectBlock{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000c9;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.videoWrapper .layout ul.subtitleSelectBlock li{
  color: #fff;
  padding: 7px;
  margin-bottom: 12px;
}
.videoWrapper .layout ul.subtitleSelectBlock li.active{
  color: #60a9f0;
}
.videoPage .textFrame{
  overflow: auto;
}
.videoPage .textFrame ul{
  margin-bottom: 7vh
}
.videoPage .textFrame ul li{
  padding: 20px;
  background-color: #fbfbfb;
  border-bottom: 1px solid #e3e3e3;}
.videoPage .textFrame ul li:last-child{
  border-bottom: 0;
}
.videoPage .textFrame ul li p{
  text-align: center;
  line-height: 1.6;
  color: #4f4f4f;
}
.videoPage .textFrame ul li p img.translate{
  vertical-align: middle;
  height: 23px;
  margin-left: 2px;
  margin-bottom: 3px;
  position: relative;
  z-index: 99;
}
.videoPage .textFrame ul li .recordBlock{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
}
.videoPage .textFrame ul li .recordBlock > div{
  width: 70px;
  position: relative;
}
.videoPage .textFrame ul li .recordBlock img{
  max-width: 100%;
}
.videoPage .textFrame ul li .recordBlock .recorded span{
  position: absolute;
  top: calc(50% - 12px);
  right: 7px;
  color: #fff;
  font-size: 15px;
  text-align: center;
  min-width: 35px;

}
.videoPage .textFrame ul li .recordBlock .recorded img.close{
  position: absolute;
  top: -16px;
  right: -33px;
  width: 21px;
  padding: 10px;
}
.videoPage .textFrame .btnBlock{
  padding: 20px 0;
  position: fixed;
  bottom: 0;
  z-index: 99;
}
.videoPage .textFrame .btnBlock a{
  display: flex;
  align-items: center;
  justify-content: center;
}
.videoPage .textFrame .btnBlock img{
  max-width:80%; 
}

.previewPage .flipCardComponent{
  height: 85vh;
  width: 100vw;
}
.previewPage{
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background-position: center;
  background-size: cover;
}
.previewPage .card{
  background-color: #fff;
  border-radius: 9px;
  width: 100%;
  height: 100%;
  box-shadow: 1px 1px 5px #00000024;
  overflow: hidden;
}
.previewPage .card .topBanner{
  height: 40%;
  border-radius: 9px;
  background-size: cover;
  background-position: center;
  position: relative;}
.previewPage .card .topBanner h2{
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 20px;
  color: #fff;
  font-weight: 600;
  font-size: 1.9rem;
  text-shadow: 1px 1px 5px #00000029;}
.previewPage .card .content{
  height: calc(60% - 40px);
  margin: 20px;
  overflow: auto;
  color: #2d2d2d;}
.previewPage .card .content.withBtn{
  height: calc(60% - 100px);}
.previewPage .card .btnBlock{
  height: 50px;
  bottom: 10px;
}
.previewPage .card .btnBlock a{
  display: block;
  height: 100%;
  text-align: center;
}
.previewPage .card .btnBlock img{
  max-height: 100%;
}
.previewPage .card .voice{
  display: flex;
  align-items: center;
  margin: 5px 0;}
.previewPage .card .voice img{
  padding-right: 8px;
  width: 20px;}
.previewPage .card .voice span{
  display: block;
  margin-bottom: 3px;}
.previewPage .card .voice span.colour{
  color: #ade5ff;}
.previewPage .card .padding{;
  padding-left: 28px;}
.previewPage .card h4{
  margin-bottom: 10px;}
.previewPage .card p{
  line-height: 1.7;}
.previewPage .card .light{
  color: #888;}
.previewPage .card ul{;
  margin-bottom: 10px;}
.previewPage .card ul li{
  margin: 5px 0;}
.previewPage .card ul.dotted li{
  list-style: disc;
  margin: 7px 0;
  line-height: 1.4;
}
.previewPage .card ul.dotted{
  list-style: circle;
  padding-left: 22px;
}

.HomeworkPage .flipCardComponent{
  height: 75vh;
  width: 100vw;
}

.HomeworkPage{
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background-position: center;
  background-size: cover;
}

.HomeworkPage .card{
  background-color: #fff;
  border-radius: 9px;
  width: 100%;
  height: 100%;
  box-shadow: 1px 1px 5px #00000024;
  overflow: hidden;
}

.HomeworkPage .card > div{
  padding: 0 20px 20px;
  height: calc(100% - 20px);
}

.HomeworkPage .pageTabs{
  height: 18%;
  display: flex;
  align-items: center;
}

.HomeworkPage .pageTabs b{
  font-size: 40px;
  color: #5d5b5b;
  vertical-align: bottom;
}

.HomeworkPage .pageTabs i{
  margin: 0px 7px 7px 3px;
  font-style: normal;
  display: inline-block;
  vertical-align: bottom;
  color: #a2a2a2;
}

.HomeworkPage .pageTabs span{
  margin-bottom: 6px;
  display: inline-block;
  color: #a2a2a2;
}

.HomeworkPage .questionsBlock{
  height: 22%;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.HomeworkPage .questionsBlock p{
  font-weight: 700;
  font-size: 18px;
  color: #484848;
}

.HomeworkPage .questionsBlock .wave{
  height: calc(100% - 20px);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  margin-bottom: 20px;
}

.HomeworkPage .questionsBlock .wave i{
  position: absolute;
  right: 10px;
  top: 0px;
  font-size: 20px;
  color: #8c8b8b;
  transition: 1s;
}

.HomeworkPage .questionsBlock .wave img{
  height: 80%;
  display: block;
}
.HomeworkPage .questionsBlock .wave.playing img{
  animation: infinite;
  animation-name: wave;
  animation-duration: 1s;
}
.HomeworkPage .questionsBlock .wave.playing i{
  color: #9ddbff;
  transition: 0.3s;
}
@keyframes wave{
  0%{
    transform: scaleY(1);
    opacity: 1;
  }
  7%{
    transform: scaleY(0.9);
  }
  20%{
    transform: scaleY(-0.7);
  }
  11%{
    transform: scaleY(-1);
    opacity: 0.9;
  }
  21%{
    transform: scaleY(-0.9);
  }
  31%{
    transform: scaleY(-1);
    opacity: 0.5;
  }
  37%{
    transform: scaleY(0.9);
  }
  39%{
    transform: scaleY(1);
    opacity: 0.9;
  }
  48%{
    transform: scaleY(0.7);
  }
  49%{
    transform: scaleY(0.9);
    opacity: 0.5;
  }
  51%{
    transform: scaleY(1);
    opacity: 1;
  }
  57%{
    transform: scaleY(-0.8);
  }
  60%{
    transform: scaleY(1);
  }
}

.HomeworkPage .answerBlock{
  height: 60%;
}

.HomeworkPage .answerBlock .textUl{
  display: grid;
  height: 85%;
  grid-gap: 5%;
}

.HomeworkPage .answerBlock .textUl li{
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #d2d2d2;
  position: relative;
  border-radius: 50px;
  transition: 0.1s;
}

.HomeworkPage .answerBlock .textUl li.faild{
  border-color: #ff9898;
  animation-name: faild;
  animation-duration: 1s;
}

.HomeworkPage .answerBlock .textUl li.susscces{
  border-color: #9ddbff;
}

.HomeworkPage .answerBlock .textUl li span{
}

.HomeworkPage .answerBlock .textUl li:before{
  position: absolute;
  left: 44px;
  color: #868686;
}

.HomeworkPage .answerBlock .textUl li:nth-child(1):before{
  content: 'A .';
}

.HomeworkPage .answerBlock .textUl li:nth-child(2):before{
  content: 'B .';
}

.HomeworkPage .answerBlock .textUl li:nth-child(3):before{
  content: 'C .';
}

.HomeworkPage .answerBlock .textUl li:nth-child(4):before{
  content: 'D .';
}

.HomeworkPage .answerBlock .audioUl{
  display: grid;
  height: 85%;
  grid-gap: 5%;
  width: 80%;
  margin: auto;
}

.HomeworkPage .answerBlock .audioUl li{
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.HomeworkPage .answerBlock .audioUl li span{
  display: flex;
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;
  background-color: #dedbdb;
  border-radius: 50%;
  color: #000;
  transition: 1s;
}

.HomeworkPage .answerBlock .audioUl li span.playing{
  background-color: #9edcff;
  transition: 0.3s;
}

.HomeworkPage .answerBlock .audioUl li span i{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: -1px;
  color: #fff;
  font-size: 17px;
}

.HomeworkPage .answerBlock .audioUl li b{
  width: calc(100% - 60px);
  height: 100%;
  border: 1px solid #d2d2d2;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.1s;
}

.HomeworkPage .answerBlock .audioUl li b.faild{
  border-color: #ff9898;
  animation-name: faild;
  animation-duration: 1s;
}

.HomeworkPage .answerBlock .audioUl li b.susscces{
  border-color: #9ddbff;
}

.HomeworkPage .answerBlock .audioUl li:nth-child(1) b:before{
  content: 'A';
}

.HomeworkPage .answerBlock .audioUl li:nth-child(2) b:before{
  content: 'B';
}

.HomeworkPage .answerBlock .audioUl li:nth-child(3) b:before{
  content: 'C';
}

.HomeworkPage .answerBlock .audioUl li:nth-child(4) b:before{
  content: 'D';
}

.HomeworkPage .answerBlock .imgUl{
  display: grid;
  grid: 1fr 1fr / 1fr 1fr;
  height: 80%;
  grid-gap: 10px;
}

.HomeworkPage .answerBlock .imgUl li{
  position: relative;
  transition: 0.1s;
}

.HomeworkPage .answerBlock .imgUl li > div{
  margin-top: 20%;
  height: 80%;
  background-position: center;
  background-size: cover;
  border-radius: 12px;
  overflow: hidden;
}

.HomeworkPage .answerBlock .imgUl li:before{
  position: absolute;
  top: 3px;
  left: 1px;
  font-size: 15px;
}

.HomeworkPage .answerBlock .imgUl li:nth-child(1):before{
  content: 'A';
}

.HomeworkPage .answerBlock .imgUl li:nth-child(2):before{
  content: 'B';
}

.HomeworkPage .answerBlock .imgUl li:nth-child(3):before{
  content: 'C';
}

.HomeworkPage .answerBlock .imgUl li:nth-child(4):before{
  content: 'D';
}

.HomeworkPage .answerBlock .imgUl li > div i{
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  background-color: #00000087;
  color: #fd4949;
  font-size: 21px;
  transition: 0.3s;
  opacity: 0;
  pointer-events: none;
}

.HomeworkPage .answerBlock .imgUl li > div i:before{
  transform: scale(0);
  transition: 0.3s;
}

.HomeworkPage .answerBlock .imgUl li.faild > div i{
  opacity: 1;
}

.HomeworkPage .answerBlock .imgUl li.faild > div i:before{
  transform: scale(1);
}

.HomeworkPage .answerBlock .imgUl li.faild{
  animation-name: faild;
  animation-duration: 1s;
}

.HomeworkPage .answerBlock .imgUl li.susscces{
  opacity: 0.7;
}

@keyframes faild{
}
.HomeworkPage{
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background-position: center;
  background-size: cover;
}
.HomeworkPage .card{
  background-color: #fff;
  border-radius: 9px;
  width: 100%;
  height: 100%;
  box-shadow: 1px 1px 5px #00000024;
  overflow: hidden;
}
.HomeworkPage .card > div{
  padding: 0 20px 20px;
  height: calc(100% - 20px);
}
.HomeworkPage .pageTabs{
  height: 18%;
  display: flex;
  align-items: center;}
.HomeworkPage .pageTabs b{
  font-size: 40px;
  color: #5d5b5b;
  vertical-align: bottom;}
.HomeworkPage .pageTabs i{
  margin: 0px 7px 7px 3px;
  font-style: normal;
  display: inline-block;
  vertical-align: bottom;
  color: #a2a2a2;}
.HomeworkPage .pageTabs span{
  margin-bottom: 6px;
  display: inline-block;
  color: #a2a2a2;}
.HomeworkPage .questionsBlock{
  height: 22%;
  overflow: hidden;
  display: flex;
  align-items: center;}
.HomeworkPage .questionsBlock p{
  font-weight: 700;
  font-size: 18px;
  color: #484848;}
.HomeworkPage .answerBlock{
  height: 60%;}
.HomeworkPage .answerBlock .textUl{
  display: grid;
  height: 85%;
  grid-gap: 5%;
}
.HomeworkPage .answerBlock .textUl li{
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #d2d2d2;
  position: relative;
  border-radius: 50px;
}
.HomeworkPage .answerBlock .textUl li.faild{
  border-color:#ff9898;
  animation-name:faild;
  animation-duration: 1s;
}
.HomeworkPage .answerBlock .textUl li span{}
.HomeworkPage .answerBlock .textUl li:before{ 
  position: absolute;
  left: 44px;
  color: #868686;
}
.HomeworkPage .answerBlock .textUl li:nth-child(1):before{
  content: 'A .';
}
.HomeworkPage .answerBlock .textUl li:nth-child(2):before{
  content: 'B .';
}
.HomeworkPage .answerBlock .textUl li:nth-child(3):before{
  content: 'C .';
}
.HomeworkPage .answerBlock .textUl li:nth-child(4):before{
  content: 'D .';
}
.HomeworkPage .answerBlock .audioUl{
  display: grid;
  height: 85%;
  grid-gap: 5%;
  width: 80%;
  margin: auto;
}
.HomeworkPage .answerBlock .audioUl li{
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.HomeworkPage .answerBlock .audioUl li span{
  display:flex;
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;
  background-color: #dedbdb;
  border-radius: 50%;
  color: #000;
}
.HomeworkPage .answerBlock .audioUl li span i{
  display:flex;
  align-items: center;
  justify-content: center;
  margin-bottom:-1px;
  color: #fff;
  font-size: 17px
}
.HomeworkPage .answerBlock .audioUl li b{
  width: calc(100% - 60px);
  height: 100%;
  border: 1px solid #d2d2d2;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.HomeworkPage .answerBlock .audioUl li b.faild{
  border-color:#ff9898;
  animation-name:faild;
  animation-duration: 1s;
}
.HomeworkPage .answerBlock .audioUl li:nth-child(1) b:before{
  content: 'A';
}
.HomeworkPage .answerBlock .audioUl li:nth-child(2) b:before{
  content: 'B';
}
.HomeworkPage .answerBlock .audioUl li:nth-child(3) b:before{
  content: 'C';
}
.HomeworkPage .answerBlock .audioUl li:nth-child(4) b:before{
  content: 'D';
}
.HomeworkPage .answerBlock .imgUl{
  display: grid;
  grid: 1fr 1fr / 1fr 1fr;
  height: 80%;
  grid-gap: 10px;
}
.HomeworkPage .answerBlock .imgUl li{
  position: relative;
}
.HomeworkPage .answerBlock .imgUl li > div{
  margin-top: 20%;
  height: 80%;
  background-position: center;
  background-size: cover;
  border-radius: 12px;
  overflow: hidden;
}
.HomeworkPage .answerBlock .imgUl li:before{
  position: absolute;
  top: 3px;
  left: 1px;
  font-size: 15px;
}
.HomeworkPage .answerBlock .imgUl li:nth-child(1):before{
  content: 'A';
}
.HomeworkPage .answerBlock .imgUl li:nth-child(2):before{
  content: 'B';
}
.HomeworkPage .answerBlock .imgUl li:nth-child(3):before{
  content: 'C';
}
.HomeworkPage .answerBlock .imgUl li:nth-child(4):before{
  content: 'D';
}
.HomeworkPage .answerBlock .imgUl li > div i{
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  background-color: #00000087;
  color: #fd4949;
  font-size: 21px;
  transition: 0.3s;
  opacity: 0;
  pointer-events: none;
}
.HomeworkPage .answerBlock .imgUl li > div i:before{
  transform: scale(0);
  transition: 0.3s;
}
.HomeworkPage .answerBlock .imgUl li.faild > div i{
  opacity: 1;
}
.HomeworkPage .answerBlock .imgUl li.faild > div i:before{
  transform: scale(1);
}
.HomeworkPage .answerBlock .imgUl li.faild{
  animation-name:faild;
  animation-duration: 1s;
}
@keyframes faild{
  0%{
    transform: translateX(-5px);
  }
  5%{
    transform: translateX(5px);
  }
  10%{
    transform: translateX(0px);
  }
  15%{
    transform: translateX(5px);
  }
  20%{
    transform: translateX(-5px);
  }
  25%{
    transform: translateX(5px);
  }
  30%{
    transform: translateX(-5px);
  }
  45%{
    transform: translateX(5px);
  }
}

.HomeworkPage .flipCardComponent{
  height: 75vh;
  width: 100vw;
}

.workCompletePage{
  height: 100vh;
  background-color: #f5f5f5;
}
.workCompletePage .scorePanel{
  height: calc(60vh - 10px);
  display: grid;
  grid: 65% 10% 20% 5% / auto;
  background-color: #fff;
  margin-bottom: 10px;
}
.workCompletePage .scorePanel .circleBlock{;
  display: flex;
  align-items: center;
  justify-content: center;}
.workCompletePage .scorePanel .circleBlock .circle{
  position: relative;
  width: 150px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.workCompletePage .scorePanel .circleBlock .circle svg{
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
}
.workCompletePage .scorePanel .circleBlock .circle svg circle{
  stroke: #e8e8e8;
  stroke-width: 5px;
  fill: transparent;
}
.workCompletePage .scorePanel .circleBlock .circle svg circle:last-child{
  stroke: #a2dbf5;
  transform: rotate(-90deg);
  transform-origin: center;
  transition: 1s;
}
.workCompletePage .scorePanel .circleBlock .circle b{
  font-size: 50px;}
.workCompletePage .scorePanel .circleBlock .circle span{
  font-size: 28px;
  font-weight: 900;
  margin: 14px  0 0 0px;}
.workCompletePage .scorePanel h2{
  display: flex;
  align-items: center;
  justify-content: center;}
.workCompletePage .scorePanel .message{
  display: flex;
  align-items: center;
  justify-content: center;}
.workCompletePage .scorePanel .message p{
  padding: 14px 15px;
  background-color: #9af3b0;
  font-size: 12px;
  border-radius: 30px;
  position: relative;
  color: #fff;
  margin-left: 12px;
}
.workCompletePage .scorePanel .message p:before{
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 20px 30px;
  border-color:transparent transparent #9af3b0 transparent;
  position: absolute;
  left: -13px;
  bottom: 9px;
}
.workCompletePage .numberBlock{
  height: 22vh;
  background-color: #fff;}
.workCompletePage .numberBlock article{
  height: 100%;
  max-width: 360px;
  margin: auto;
  display: flex;
  align-items: center;}
.workCompletePage .numberBlock article > div{
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;}
.workCompletePage .numberBlock article > div:first-child{
  border-right: 1px solid #e4e4e4;
}
.workCompletePage .numberBlock h3{
  font-size: 51px;
  color: #4c4c4c;}
.workCompletePage .numberBlock h3 span{
  display: inline-block;
  height: 42px;
  width: 16px;
  position: relative;}
.workCompletePage .numberBlock h3 span:after{
  content: '';
  height: 11px;
  width: 11px;
  background-color: #000;
  display: block;
  border-radius: 50%;
}
.workCompletePage .numberBlock .rightBlock h3 span:after{
  background-color: #21cda5;}
.workCompletePage .numberBlock .faildBlock h3 span:after{
  background-color: #ff785b;}
.workCompletePage .numberBlock p{
  font-size: 22px;
  color: #888;}
.workCompletePage .btnBlock{
  position: relative;
  bottom: auto;
  height: 14vh;
  display: flex;
  align-items: center;
  justify-content: center;}
.workCompletePage .btnBlock span{
  display: flex;
  height: 65px;
  width: 80%;
  align-items: center;
  justify-content: center;
  background-color: #a2dbf5;
  font-size: 26px;
  color: #fff;
  border-radius: 65px;
  border-bottom: 4px solid #5b96b1;}

.HomeworkReviewPage{
  background-color: #f3f5f7;
  min-height: 100vh;
}
.HomeworkReviewPage .reviewBlock{
  display: flex;
  flex-direction: column;
  padding-top: 9px;}
.HomeworkReviewPage .reviewBlock article{
  background-color: #fff;
  width: calc(93% - 36px);
  padding: 18px;
  margin: 9px auto;
  border-radius: 14px;}
.HomeworkReviewPage .reviewBlock article h3{
  font-size: 18px;
  padding-left: 30px;
  position: relative;
  margin-bottom: 4px;}
.HomeworkReviewPage .reviewBlock article h3 span{
  position: absolute;
  left: 0px;}
.HomeworkReviewPage .reviewBlock article h3 i{
  display: inline-flex;
  height: 25px;
  width: 25px;
  align-items: center;
  justify-content: center;
  background-color: #e8e8e8;
  color: #fff;
  border-radius: 50%;
  font-size: 14px;
  margin-right: 7px;
  margin-left: 2px;}
.HomeworkReviewPage .reviewBlock article .textUl{}
.HomeworkReviewPage .reviewBlock article .textUl li{
  margin-bottom: 7px;}
.HomeworkReviewPage .reviewBlock article .textUl li:before{
  margin-right: 5px;}
.HomeworkReviewPage .reviewBlock article .textUl li:nth-child(1):before{
  content: "A.";}
.HomeworkReviewPage .reviewBlock article .textUl li:nth-child(2):before{
  content: "B.";}
.HomeworkReviewPage .reviewBlock article .textUl li:nth-child(3):before{
  content: "C.";}
.HomeworkReviewPage .reviewBlock article .textUl li:nth-child(4):before{
  content: "D.";}
.HomeworkReviewPage .reviewBlock article .textUl li i{
  display: inline-flex;
  vertical-align: middle;
  height: 25px;
  width: 25px;
  align-items: center;
  justify-content: center;
  background-color: #e8e8e8;
  color: #fff;
  border-radius: 50%;
  font-size: 14px;
  margin-right: 7px;
  margin-left: 2px;}
.HomeworkReviewPage .reviewBlock article .textUl li.green{
  font-weight: 600;
  color: #2ccfa8;}
.HomeworkReviewPage .reviewBlock article .textUl li.red{
  font-weight: 600;
  color: #ff785b;}
.HomeworkReviewPage .reviewBlock article p{
  margin-top: 17px;
  padding-top: 15px;
  border-top: 1px solid #e8e8e8;
  word-break: break-word;
  font-size: 15px;
  line-height: 1.5;
  color: #8e8989;
}
.HomeworkReviewPage .reviewBlock article .imgUl{
  display: grid;
  grid: 1fr 1fr / 1fr 1fr;
}
.HomeworkReviewPage .reviewBlock article .imgUl li{}
.HomeworkReviewPage .reviewBlock article .imgUl li p{
  border:0;
  padding:0;
  margin:8px 0 4px;
}
.HomeworkReviewPage .reviewBlock article .imgUl li p:before{
  margin-right: 8px;
  vertical-align: middle;}
.HomeworkReviewPage .reviewBlock article .imgUl li:nth-child(1) p:before{
  content: "A.";
}
.HomeworkReviewPage .reviewBlock article .imgUl li:nth-child(2) p:before{
  content: "B.";
}
.HomeworkReviewPage .reviewBlock article .imgUl li:nth-child(3) p:before{
  content: "C.";
}
.HomeworkReviewPage .reviewBlock article .imgUl li:nth-child(4) p:before{
  content: "D.";
}
.HomeworkReviewPage .reviewBlock article .imgUl li.green p{
  color: #2ccfa8;
  font-weight: 600;
}
.HomeworkReviewPage .reviewBlock article .imgUl li.red p{
  color: #ff785b;
  font-weight: 600;
}
.HomeworkReviewPage .reviewBlock article .imgUl li > div{
  height: 88px;
  width: 85%;
  background-size: cover;
  background-position: center;
  border-radius: 8px;}
.HomeworkReviewPage .btnBlock{
  display: flex;
  height: 60px;
  align-items: center;
  justify-content: space-around;
  padding-bottom: 10px;
  position: relative;
  bottom: 0;
}
.HomeworkReviewPage .btnBlock .btn{
    width: 40%;
    height: auto;
    text-align: center;
    background-color: #ade5ff;
    padding: 12px 0;
    border-radius: 30px;
    color: #fff;
    letter-spacing: 1px;
    border-bottom: 3px solid #78bcff;
    font-weight: 600;
}
.HomeworkReviewPage .btnBlock .btn.border{
    color: #ade5ff;
    background-color: transparent;
    border: 2px solid #ade5ff;
}

.memberCentrePage .topInfo{
  height: 45vh;}
.memberCentrePage .topInfo .portraitBlock{
  height: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;}
.memberCentrePage .topInfo .portraitBlock .imgBlock{
  height: 100px;
  width: 100px;
  border-radius: 50%;
  margin-bottom: 4px;}
.memberCentrePage .topInfo .portraitBlock h3{
  font-size: 25px;
  color: #585858;
  margin-bottom: 3px;}
.memberCentrePage .topInfo .portraitBlock p{
  font-size: 14px;
  color: #a6a6a6;}
.memberCentrePage .topInfo .flexBlock{
  height: 30%;
  display: flex;
  align-items: center;
  justify-content: center;}
.memberCentrePage .topInfo .flexBlock nav{
  height: 40px;
  width: 1px;
  background-color: #e9e9e9;
  margin-bottom: 12px;}
.memberCentrePage .topInfo .flexBlock a{
  color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  justify-content: center;
  width: 40%;}
.memberCentrePage .topInfo .flexBlock a i{
  font-style: normal;
  display: block;
  font-size: 38px;}
.memberCentrePage .topInfo .flexBlock a i.gold{
  color: #fab100;
}
.memberCentrePage .topInfo .flexBlock a span{
  margin-bottom: 10px;
  font-size: 17px;
  letter-spacing: 1px;
  font-weight: 600;}
.memberCentrePage .listBlock{
  height: 55vh;
  overflow: auto;}
.memberCentrePage .listBlock ul{
  padding: 8px 10px;}
.memberCentrePage .listBlock ul li:not(:last-child){
  border-bottom: 1px solid #d5d5d5;}
.memberCentrePage .listBlock ul li a{
  display: flex;
  justify-content: space-between;
  padding: 20px 10px;
  color: #434343;
  align-items: center;
  height: 38px;}
.memberCentrePage .listBlock ul li span{}
.memberCentrePage .listBlock ul li span i{
  font-size: 28px;}

.shareClassPage .grid{
  display: grid;
  grid: 85% 10% / auto;
  height: 100vh;}
.shareClassPage .grid .ticketBlock{
  display: flex;
  align-items: center;
  justify-content: center;}
.shareClassPage .grid .ticketBlock > div{
  position: relative;
  filter: drop-shadow(1px 1px 5px rgba(0,0,0,0.2));}
.shareClassPage .grid .ticketBlock > div > img{}
.shareClassPage .grid .ticketBlock .layout{
  position: absolute;
  top: 0;
  height: 100%;
  display: grid;
  grid: 50% 50% / auto;}
.shareClassPage .grid .ticketBlock .layout > div:first-child{
  text-align: center;}
.shareClassPage .grid .ticketBlock .layout > div:first-child img{
  max-height: calc(100% - 60px);
  padding: 30px;}
.shareClassPage .grid .ticketBlock .layout > div:last-child{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 80%;
  margin: auto;
  text-align: center;}
.shareClassPage .grid .ticketBlock .layout > div:last-child h3{
  color: #f2bd3b;
  font-size: 22px;
  margin-bottom: 10px;}
.shareClassPage .grid .ticketBlock .layout > div:last-child p{
  font-size: 17px;
  line-height: 1.7;
  font-weight: 600;
  color: #585858;}
.shareClassPage .grid .btnBlock{
  display: flex;
  align-items: center;
  justify-content: center;}
.shareClassPage .grid .btnBlock .btn{
  color: #fff;
  font-size: 22px;
  border: 1px solid #fff;
  display: flex;
  height: 48px;
  width: 65%;
  align-items: center;
  justify-content: center;
  border-radius: 30px;}

.courseCurrentPage .topbanner{
  height: 30vh;}
.courseCurrentPage .stickyBlock{;
  height: 70vh;
  overflow: auto;}
.courseCurrentPage .stickyBlock h1{
  color: #35395a;
  padding: 30px 0;}
.courseCurrentPage .stickyBlock ul{}
.courseCurrentPage .stickyBlock ul li{
  margin-bottom: 25px;}
.courseCurrentPage .stickyBlock ul li p{
  color: #7a7a7a;
  font-size: 14px;
  margin-bottom: 9px;}
.courseCurrentPage .stickyBlock ul li a{
  display: flex;
  padding: 11px 13px;
  border: 1px solid #d8d8d8;
  border-left: 4px solid #ade5ff;
  box-shadow: -1px 3px 7px #093f5824;}
.courseCurrentPage .stickyBlock ul li.inactive {
  opacity: 0.5;
}
.courseCurrentPage .stickyBlock ul li.inactive a{
  border-left: 4px solid #642a00;
}
.courseCurrentPage .stickyBlock ul li a span{
  width: 90%;
  color: #35395a;}
.courseCurrentPage .stickyBlock ul li a i{
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: #888;}

.courseTeacherPage{
  padding-top: 40px;
}
.courseTeacherPage img{
  border-radius: 10px;
}
.courseTeacherPage h1{
    margin: 25px 0;
    color: #3b3b3b;
}
.courseTeacherPage p{
  line-height: 1.7;
}

.courseListPage{}
.courseListPage .topbanner{
  height: 30vh;}
.courseListPage .topbanner .layout{;
  padding-top: 20px;
  color: #545454;}
.courseListPage .topbanner .layout p{
  font-weight: 900;}
.courseListPage .topbanner .layout h3{}
.courseListPage .stickyBlock{
  height: 70vh;
  overflow: auto;}
.courseListPage .stickyBlock ul{}
.courseListPage .stickyBlock ul li{}
.courseListPage .stickyBlock ul li a{
  display: block;
  padding: 12px;
  margin: 25px 10px;
  background-color: #fff;
  box-shadow: 3px 6px 15px #0000002b;}
.courseListPage .stickyBlock ul li a .bgCover{
  height: 138px;}
.courseListPage .stickyBlock ul li a h3{
  margin: 10px 0 0;
  color: #484848;}

.coinRulePage{
  background-color: #f6f6f6;
  position: relative;
  padding-top: 50px;
  color: #545454;
  height: calc(100vh - 50px);
  overflow: auto;
}
.coinRulePage .bgCover{
  position: absolute;
  bottom: 0;
  height: 30vh;
  width: 100%;}
.coinRulePage h2{
  margin-bottom: 25px;}
.coinRulePage p{
  margin-bottom: 35px;
  font-weight: 500;}

  .reviewPage{}
.reviewPage .topbanner{
  width: 100%;
}
.reviewPage article{
  padding: 35px 10px;
}
.reviewPage article span{
  margin-bottom: 6px;
  display: block;
  font-size: 15px;
  font-weight: 600;}
.reviewPage article h3{
  margin-bottom: 15px;
  font-size: 20px;}
.reviewPage article p{
  margin-bottom: 25px;}
.reviewPage .stepBtn{
  display: flex;
  position: relative;
  box-shadow: 1px 1px 20px #c7eeff6b;
  background: linear-gradient(to right, rgba(127,192,255,1) 0%,rgba(182,232,255,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7fc0ff', endColorstr='#b6e8ff',GradientType=1 );
  padding: 12px 35px;
  margin: 0px 20px;
  border-radius: 10px;
  align-items: center;}
.reviewPage .stepBtn img{
  height: 51px;}
.reviewPage .stepBtn span{
  display: block;
  width: 100%;
  text-align: center;
  color: #fff;
  font-size: 24px;
  margin-right: 15px;}
.reviewPage .stepBtn:before{
  position: absolute;
  content: '';
  background-color: rgba(255,255,255,0.1);
  display: block;
  width: 50%;
  opacity: 0;
  height: 100%;
  top: 0;
  right: 0;
  border-radius: 50px 0 0 50px;
  transition: 0.3s;
}
.reviewPage .stepBtn:hover:before,
.reviewPage .stepBtn:active:before{
  opacity: 1;
  width: 80%;
}

.planCalender{
  min-height: 100vh;
  position: relative;}
.planCalender .courseTitle{
  background-color: #f8f8f8;
  padding: 20px 0 65px;}
.planCalender .courseTitle article{
  padding: 1px 25px;
  border-left: 5px solid #ade5ff;}
.planCalender .courseTitle article p{
  font-size: 15px;
  margin-bottom: 2px;
  color: #848484;
  font-weight: 100;}
.planCalender .courseTitle article h3{
  font-size: 20px;
  color: #5e5e5e;}
.planCalender .calenderBlock{
  margin-top: -60px;}
.planCalender .calenderBlock .des{
  display: flex;
  justify-content: flex-end;}
.planCalender .calenderBlock .des b{
  display: inline-block;
  height: 6px;
  width: 6px;
  border-radius: 50%;
  vertical-align: middle;
  margin-right: 5px;}
.planCalender .calenderBlock .des span{
  margin-left: 15px;
  font-size: 15px;}
.planCalender .calenderBlock .des b.complete{
  background-color: #ade5ff;}
.planCalender .calenderBlock .des b.undone{
  background-color: #e4e4e4;}
.planCalender .bgCover{
  position: absolute;
  bottom: 0;
  height: 30vh;
  width: 100%;}
/*--------calenderComponent---------*/
.calenderComponent{}
.calenderComponent .monthCtrl{
  display: flex;
  justify-content: space-between;
  align-items: center;}
.calenderComponent .monthCtrl i{
  padding: 20px;
  height: 20px;
  width: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #8c8c8c;}
.calenderComponent .dayCtrl ul{
  display: flex;}
.calenderComponent .dayCtrl ul li{
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 52px;
  position: relative;}
.calenderComponent .dayCtrl ul li:before{
  position: absolute;
  height: 6px;
  width: 6px;
  border-radius: 50%;
  bottom: 0;
  left: calc(50% - 3px);}
.calenderComponent .dayCtrl ul li.complete:before{
  content: '';
  background-color:#ade5ff;
}
.calenderComponent .dayCtrl ul li.undone:before{
  content: '';
  background-color:#e4e4e4;
}

.purchasePage{
  position: relative;
  min-height: calc(100vh - 40px);
  padding-top: 40px;
  background-color: #f8f8f8;
  padding: 40px 20px 0;
}
.purchasePage h2{
  margin-bottom: 16px;}
.purchasePage article{
  margin-bottom: 14px;
  position: relative;
  font-size: 17px;}
.purchasePage article b{
  color: #2c2c2c;}
.purchasePage article span{}
.purchasePage article i{
  font-size: 25px;
  vertical-align: middle;
  margin-right: 7px;}
.purchasePage h3{
  font-size: 30px;
  color: #aee5fd;}
.purchasePage .clicker{
  position: absolute;
  top: -4px;
  right: 0;}
.btnBlock {
  position: absolute;
  width: 100%;
  bottom: 7vh;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 20;}
.btnBlock .btn{
  border: 0;
  background-color: #aee5fd;
  color: #fff;
  font-size: 23px;
  height: 66px;
  width: 78%;
  border-radius: 40px;
  border-bottom: 5px solid #80b9e3;}
.purchasePage .bgCover{
  position: absolute;
  bottom: 30vh;
  height: 30vh;
  width: 100%;
  left: 0;}
/*------------------------*/




.CoursePurchaseMainPage{}
.CoursePurchaseMainPage .HeroBanner{
  height: 100vh;
  background-size: cover;
  background-position: center;
  position: relative;;}
.CoursePurchaseMainPage .HeroBanner .container{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;;;;;}
.CoursePurchaseMainPage .HeroBanner .bg{
  position: absolute;
  height: 100vh;
  width: 100vw;
  background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 50%, rgba(0,0,0,0.8) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 50%,rgba(0,0,0,0.8) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 50%,rgba(0,0,0,0.8) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */}
.CoursePurchaseMainPage .HeroBanner .Title{
  color: #fff;;}
.CoursePurchaseMainPage .HeroBanner h3{
  font-size: 24px;
  margin-bottom: 7px;;}
.CoursePurchaseMainPage .HeroBanner h2{
  font-size: 36px;
  line-height: 1.3;
  margin-bottom: 22px;;;}
.CoursePurchaseMainPage .HeroBanner .Title .flex{}
.CoursePurchaseMainPage .HeroBanner .Title .btn{
  font-size: 18px;
  padding: 6px 24px;;}
.CoursePurchaseMainPage .HeroBanner .Title .btn.border{
  border: 2px solid #fff;
  border-radius: 30px;;;;}
.CoursePurchaseMainPage .HeroBanner .ScrollDown{
  color: #fff;
  height: 23vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;;;;;;;}
.CoursePurchaseMainPage .HeroBanner .ScrollDown img{
  width: 26px;;
  animation: 1s pointDown infinite;
}
@keyframes pointDown{
  0%,100%{
    transform: translateY(0);
  }
  50%{
    transform: translateY(5px);
  }
  
}
.CoursePurchaseMainPage .HeroBanner .ScrollDown p{
  margin-top: 19px;}
.CoursePurchaseMainPage .scheduleBlock{
  padding: 90px 0 40px;}
.CoursePurchaseMainPage .scheduleBlock h2{
  font-size: 24px;
  color: #4f4f4f;
  margin-bottom: 17px;;}
.CoursePurchaseMainPage .scheduleBlock .flexCheck{
  display: flex;
  align-items: flex-start;
  margin-bottom: 5px;;;;;}
.CoursePurchaseMainPage .scheduleBlock .flexCheck img{
  width: 23px;
  margin-right: 10px;
  margin-top: 3px;;;;}
.CoursePurchaseMainPage .scheduleBlock p{
  font-size: 17px;
  color: #4f4f4f;
  line-height: 1.6;;}
.CoursePurchaseMainPage .scheduleBlock .container > p{
  margin: 15px 0;}
.CoursePurchaseMainPage .CustomizeBlock{}
.CoursePurchaseMainPage .CustomizeBlock .banner{
  height: 210px;
  margin-bottom: 35px;;;}
.CoursePurchaseMainPage .CustomizeBlock h2{
  font-size: 24px;
  color: #4f4f4f;
  margin-bottom: 11px;}
.CoursePurchaseMainPage .CustomizeBlock p{
  font-size: 17px;
  color: #4f4f4f;
  line-height: 1.6;}
.CoursePurchaseMainPage .CustomizeBlock .grid{
  display: grid;
  grid: auto / 1fr 1fr 1fr;
  margin-top: 21px;
  margin-bottom: 45px;;;;;}
.CoursePurchaseMainPage .CustomizeBlock .grid article{}
.CoursePurchaseMainPage .CustomizeBlock .grid article img{
  display: block;
  width: 70%;
  margin: 0 auto 6px;;;;}
.CoursePurchaseMainPage .CustomizeBlock .grid article p{
  text-align: center;}
  .CoursePurchaseMainPage .videoBlock{
  margin-bottom: 25px;;}
.CoursePurchaseMainPage .videoBlock img{
  width: 100%;
  border-radius: 10px;
  margin-bottom: 10px;
}
.CoursePurchaseMainPage .videoBlock h2{
  font-size: 24px;
  color: #4f4f4f;
  margin-bottom: 10px;;}
.CoursePurchaseMainPage .videoBlock p{
  font-size: 17px;
  color: #4f4f4f;
  line-height: 1.6;}
.CoursePurchaseMainPage .spoilerBlock h2{
  font-size: 24px;
  color: #4f4f4f;
  margin-bottom: 5px;;}
.CoursePurchaseMainPage .spoilerBlock p{
  font-size: 17px;
  color: #4f4f4f;
  line-height: 1.6;}
.CoursePurchaseMainPage .previewPage{
  height: 75vh;
  margin-top: 15px;;}
.CoursePurchaseMainPage .previewPage .flipCardComponent{
  height: 100%;}
.CoursePurchaseMainPage .introduceBlock{
  margin-bottom: 50px;;}
.CoursePurchaseMainPage .introduceBlock h2{
  font-size: 24px;
  color: #4f4f4f;
  margin-bottom: 15px;}
.CoursePurchaseMainPage .introduceBlock p{
  font-size: 17px;
  color: #4f4f4f;
  line-height: 1.6;}
.CoursePurchaseMainPage .introduceBlock .photoframe{
  height: 215px;
  border-radius: 10px;
  margin-bottom: 14px;;;;}
.CoursePurchaseMainPage .commentBlock{
  margin-bottom: 50px;;}
.CoursePurchaseMainPage .commentBlock h2{
  font-size: 24px;
  color: #4f4f4f;
  margin-bottom: 15px;}
.CoursePurchaseMainPage .commentBlock p{
  font-size: 17px;
  color: #4f4f4f;
  line-height: 1.6;}
.CoursePurchaseMainPage .commentBlock .gridBox{
  display: grid;
  grid: auto / 30% 68%;
  grid-gap: 2%;
  padding: 30px 10px;
  box-shadow: 1px 1px 23px #00000014;
  border-radius: 6px;
  margin-bottom: 15px;;;;;;}
.CoursePurchaseMainPage .commentBlock .gridBox > div:first-child{;;}
.CoursePurchaseMainPage .commentBlock .portrait{
  height: 60px;
  width: 60px;
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  margin: 10px auto;;;;;;;;;}
.CoursePurchaseMainPage .commentBlock .star{
  display: flex;
  align-items: center;
  justify-content: center;;;;}
.CoursePurchaseMainPage .commentBlock .star img{
  width: 13%;
  margin: 0 2px;;;;}
.CoursePurchaseMainPage .commentBlock .gridBox > div:last-child{}
.CoursePurchaseMainPage .commentBlock .gridBox h4{
  color: #4f4f4f;
  margin-bottom: 8px;;}
.CoursePurchaseMainPage .commentBlock .gridBox p{
  font-size: 16px;
  color: #4f4f4f;
  letter-spacing: -0.18px;
  line-height: 26px;
  text-align: left;}
.CoursePurchaseMainPage .commentBlock .more{
  font-size: 16px;
  color: #ade5ff;
  font-weight: 500;
  display: flex;
  align-items: center;;;}
.CoursePurchaseMainPage .commentBlock .more i{
  transform: rotate(90deg);;;}
.CoursePurchaseMainPage .sportBlock{
  margin-bottom: 65px;;}
.CoursePurchaseMainPage .sportBlock img{
  margin-bottom: 25px;;}
.CoursePurchaseMainPage .sportBlock h2{
  font-size: 24px;
  color: #4f4f4f;
  margin-bottom: 10px;;}
.CoursePurchaseMainPage .sportBlock h3{
  font-size: 20px;
  color: #4f4f4f;
  margin-bottom: 6px;;}
.CoursePurchaseMainPage .sportBlock p{
  font-size: 16px;
  color: #4f4f4f;
  line-height: 1.5;
  margin-bottom: 15px;;;}
.CoursePurchaseMainPage .bottonBlock .flex{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 58px;;;;;}
.CoursePurchaseMainPage .bottonBlock .btn{
  padding: 7px 45px;
  color: #ade5ff;
  font-weight: 500;
  border-bottom: 5px solid transparent;;;;;;;}
.CoursePurchaseMainPage .bottonBlock .btn.colored{
  background-color: #c2e6fc;
  border-radius: 20px;
  color: #fff;
  border-bottom: 5px solid #acdeff;;;;;}
.CoursePurchaseMainPage .bottonBlock{
    position: fixed;
    width: 100vw;
    left: 0;
    bottom: 0;
    background-color: #ffffff;
    z-index: 999999;
    transition: 0.5s;
    transform: translateY(60px);
}
.CoursePurchaseMainPage .bottonBlock.active{
    transform: translateY(0);
}
.CoursePurchaseMainPage .stickyBar {
  position: absolute;
  z-index: 10;
  top: 100vh;
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #e6e6e6;;;;;;;;;;
  background-color: #fff;
}
.CoursePurchaseMainPage .stickyBar.active {
  position: fixed;
  top: 0;
}
.CoursePurchaseMainPage .stickyBar span {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-weight: 600;
  color: #4f4f4f;;;;;;;;;;;;;;;
}
.CoursePurchaseMainPage .tabsCtrl{
  display: flex;
  transition: 0.5s;
  width: 200vw;}
.CoursePurchaseMainPage .tabsCtrl > div{
  flex: 1;}
.CoursePurchaseMainPage .tabsCtrl.secondPage{
  transform: translateX(-100vw);}
.CoursePurchaseMainPage .courseList{
  padding-top: 90px;;;;;;;;;}
.CoursePurchaseMainPage .courseList h2{
  font-size: 24px;
  color: #4f4f4f;
  margin-bottom: 30px;;}
.CoursePurchaseMainPage .courseList article{
  padding: 11px;
  box-shadow: 2px 5px 15px #00000026;
  margin-bottom: 20px;
  border-radius: 5px;;;;;}
.CoursePurchaseMainPage .courseList article .bgCover{
  height: 140px;
  margin-bottom: 10px;;;}
.CoursePurchaseMainPage .courseList article .title{
  margin-bottom: 3px;;}
.CoursePurchaseMainPage .courseList article .title h3{
  font-size: 19px;
  color: #4f4f4f;}
.CoursePurchaseMainPage .stickyBar {
  position: absolute;
  z-index: 10;
  top: 100vh;
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #e6e6e6;;;;;;;;;;
  background-color: #fff;
}
.CoursePurchaseMainPage .stickyBar.active {
  position: fixed;
  top: 0;
}
.CoursePurchaseMainPage .stickyBar span {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-weight: 600;
  color: #4f4f4f;;;;;;;;;;;;;;;
}
.CoursePurchaseMainPage .tabsCtrl{
  display: flex;
  transition: 0.5s;
  width: 200vw;}
.CoursePurchaseMainPage .tabsCtrl > div{
  flex: 1;}
.CoursePurchaseMainPage .tabsCtrl.secondPage{
  transform: translateX(-100vw);}
.CoursePurchaseMainPage .courseList{
  padding-top: 90px;;}
.CoursePurchaseMainPage .courseList h2{
  font-size: 24px;
  color: #4f4f4f;
  margin-bottom: 30px;;}
.CoursePurchaseMainPage .courseList article{
  padding: 11px;
  box-shadow: 2px 5px 15px #00000026;
  margin-bottom: 20px;
  border-radius: 5px;;;;;}
.CoursePurchaseMainPage .courseList article .bgCover{
  height: 140px;
  margin-bottom: 10px;;;}
.CoursePurchaseMainPage .courseList article .title{
  margin-bottom: 3px;;}
.CoursePurchaseMainPage .courseList article .title h3{
  font-size: 19px;
  color: #4f4f4f;}



.EZvideo{}
.EZvideo .EZWrapper{
  position: relative;
  border-radius: 10px;
  overflow: hidden;
}
.EZvideo .EZWrapper video{
  max-height: 100vh
}
.EZvideo .EZWrapper video{
  width: 100%;
  display: block;
  background-color: #000;
  background-image: none;
  max-height: 250px;
}
.EZvideo .EZWrapper .layout{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 0.5s;
}
.EZvideo .EZWrapper .layout .fullScreenIcon{
  position: absolute;
  right: 0;
  top: 0;
  padding: 10px;
  width: 27px
}
.EZvideo .EZWrapper .layout .playBtnBlock{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100% - 40px);
  display: flex;
  align-items: center;
  justify-content: center;
}
.EZvideo .EZWrapper .layout .playBtnBlock img{
  width: 30px;
  transition: 0.3s;
  transform: translateX(-20px)translateZ(0px)scale(0.4);
  opacity: 0;
}
.EZvideo .EZWrapper .layout.onPause .playBtnBlock img{
  transform: translateX(0)translateZ(0px)scale(1);
  opacity: 1;
  margin-top: 20px;
}
.EZvideo .EZWrapper .layout.onPause{
  background-color: #00000075;
}
.EZvideo .EZWrapper .layout.onPause.neverLaunched{
  background-color: #000;
}
.EZvideo .EZWrapper .layout .contrlBar{
  position: absolute;
  bottom: 0;
  display: flex;
  width: calc(100% - 20px);
  left: 0;
  padding: 10px;}
.EZvideo .EZWrapper .contrlBar .timeCtrl{
  width:100%;
  display: flex;
  align-items: center;
  justify-content: space-between;}
.EZvideo .EZWrapper .contrlBar .timeCtrl > span{
  color: #fff;
  font-size: 0.7rem;}
.EZvideo .EZWrapper .contrlBar .timeCtrl .timeBar{
  width: calc(100% - 20px);
  height: 3px;
  background-color: #ffffff6e;
  margin: 0 20px;
  position: relative;
  border-radius: 5px;}
.EZvideo .EZWrapper .contrlBar .timeCtrl .timeBar .progress{
  position: absolute;
  width: 0%;
  top: 0;
  height: 100%;
  background-color: #60a9f0;
}
.EZvideo .EZWrapper .contrlBar .timeCtrl .timeBar .progress b{
  position: absolute;
  width: 16px;
  height: 16px;
  right: 0;
  background-color: #fff;
  border-radius: 50%;
  top: -7px;
  margin-right: -8px;
}
.EZvideo .EZWrapper .contrlBar .subCtrl{
  width: 70px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.EZvideo .EZWrapper .contrlBar .subCtrl span{
  background-color: #fff;
  font-size: 10px;
  padding: 3px 8px;
  border-radius: 10px;
  line-height: 1.3;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 12px;
}
.EZvideo .EZWrapper .layout ul.subtitleSelectBlock{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000c9;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.EZvideo .EZWrapper .layout ul.subtitleSelectBlock li{
  color: #fff;
  padding: 7px;
  margin-bottom: 12px;
}
.EZvideo .EZWrapper .layout ul.subtitleSelectBlock li.active{
  color: #60a9f0;
}

.VoiceComparePage{
  padding-top: 35px;
  height: calc(100vh - 35px);
  position: relative;}
.VoiceComparePage h1{
  font-size: 28px;
  color: #4f4f4f;
  margin-bottom: 10px;}
.VoiceComparePage .EZvideo{
  margin-bottom: 25px;}
.VoiceComparePage .sentenceBlock{}
.VoiceComparePage .sentenceBlock p{
  font-size: 19px;}
.VoiceComparePage .recordBlock{
  display: grid;
  grid: auto / 33.3334% 33.3334% 33.3334%;
  position: fixed;
  width: 90%;
  left: 5%;
  bottom: 9vh;}
.VoiceComparePage .recordBlock img{
  width: 75%;
  display: block;
  margin: auto;
  position: relative;}
.VoiceComparePage .recordBlock .recall{
  position: relative;}
.VoiceComparePage .recordBlock .recall .recorded{
  position: static;}
.VoiceComparePage .recordBlock .recall .recorded span{
  position: absolute;
  top: 38%;
  right: 26%;
  color: #fff;}
  .VoiceComparePage .scoreBlock{;
  display: flex;;
  align-items: center;;
  justify-content: center;;
  position: fixed;;
  width: 100%;;
  left: 0;;
  bottom: 26vh;;;;;;;;}
.VoiceComparePage .scoreBlock b{
  height: 20px;
  width: 17px;
  background-color: #f4bf1a;
  border-left: 3px solid #d19e03;
  border-radius: 50%;
  margin-right: 10px;
}
.VoiceComparePage .scoreBlock span{
  font-size: 20px;
  color: #d35c5c;
}
.VoiceComparePage .scoreBlock span.orange{
  color: #ff9b00;
}
.VoiceComparePage .scoreBlock span.green{
  color: #5bd8bb;
}

.purchaseCofirmPage .ItemBlock{
  height: 80vh;
  display: flex;
  align-items: flex-end;;;;}
.purchaseCofirmPage .ItemBlock article{
  height: 83%;
  margin-bottom: 5%;
  box-shadow: 1px 1px 15px #00000040;
  border-radius: 6px;
  overflow: hidden;
  width: 100%;;;;;;;}
.purchaseCofirmPage .ItemBlock article .bgCover{
  height: 65%;;;}
.purchaseCofirmPage .ItemBlock article .content{
  height: calc(35% - 20px);
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;;;;;;}
.purchaseCofirmPage .ItemBlock article .content h2{
  font-size: 20px;
  line-height: 1.4;
  color: #4f4f4f;;;}
.purchaseCofirmPage .ItemBlock article .content .flex{
  display: flex;
  align-items: center;
  justify-content: space-between;;;;}
.purchaseCofirmPage .ItemBlock article .content .flex span{
  font-size: 16px;
  color: #4f4f4f;}
.purchaseCofirmPage .BtnBlock{
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;;;;;}
.purchaseCofirmPage .BtnBlock .flex{
  width: 100%;
  display: flex;;;}
.purchaseCofirmPage .BtnBlock span{
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 53px;
  color: #ade5ff;
  font-size: 19px;
  font-weight: 700;;;;;;;;;}
.purchaseCofirmPage .BtnBlock span.btn{
  background-color: #ade5ff;
  color: #fff;
  border-radius: 30px;
  border-bottom: 5px solid #76cbf2;;;}
.shareClassPage .foregroundLayout{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0000007d;
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    opacity: 0;
    transition: 0.3s;
}
.shareClassPage .foregroundLayout.active{
    pointer-events: all;
    opacity: 1;   
}
.shareClassPage .foregroundLayout p{
    color: #fff;
    font-size: 20px;
    line-height: 1.5;
    text-align: center;
    font-weight: 500;;;;}
.shareClassPage .foregroundLayout img{
    position: absolute;
    top: 10px;
    right: 10px;
    height: 40px;
    animation: infinite backNforth 1s;
}
@keyframes backNforth{
  0%,100%{
    transform: translateY(0);
  }
  50%{
    transform: translateY(10px);
  }
}

.TextbookPage{}
.TextbookPage .editorContent{
  min-height: calc(100vh - 80px);
}
.TextbookPage .btnBlock{
    display: flex;
    height: 60px;
    align-items: center;
    justify-content: space-around;
    position: relative;
    bottom: 0;
    margin: 10px 0;
}
.TextbookPage .btnBlock .btn{
  width: 80%;
  height: auto;
  text-align: center;
  background-color: #ade5ff;
  padding: 12px 0;
  border-radius: 30px;
  color: #fff;
  letter-spacing: 1px;
  border-bottom: 3px solid #78bcff;
  font-weight: 600;
}