 <!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta charset="utf-8">
	<meta name="chartset">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<link rel="stylesheet" type="text/css" href="/css/bundle.css">
	<link rel="stylesheet" type="text/css" href="/css/app.css">
	<link rel="stylesheet" type="text/css" href="/css/edit.css">
	<script type="text/javascript" src="/js/bundle.js"></script>
	<script type="text/javascript" src="/js/app.js"></script>
	<script type="text/javascript" hostname="/" src="/js/mangoApiLite.js"></script>
</head>
<body>
	<div class="wrapper" id="app">
		<homework-page ref="HomeworkPage" v-show="currentPage==0"></homework-page>
		<work-complete-page ref="workCompletePage" v-show="currentPage==1"></work-complete-page>
		<homework-review-page ref="HomeworkReviewPage" v-show="currentPage==2"></homework-review-page>
	</div>
	<template id="HomeworkPage">
		<div class="HomeworkPage" style="background-image: url(/img/preview/bg.png)">
			<flip-card v-if="isLoad" v-bind:pagination="false" v-bind:can-touch="false" ref="flipCard">
			  <li v-for="(q,i) of questions">
		        <article class="card">
		        	<div>
			        	<div class="pageTabs">
			        		<div>
				        		<b>{{i+1}}</b><i>/</i><span>{{pageCtrl.total}}</span>
			        		</div>
			        	</div>
			        	<div class="questionsBlock">
			        		<p v-if="!q.questionMP3">{{q.questionStr}}</p>
			        		<div v-if="q.questionMP3" class="wave" v-bind:onclick="'vueHomeworkPage.readVoice(this,\''+q.questionMP3+'\')'">
			        			<img src="/img/homework/wave.png">
			        			<i class="icon-volume"></i>
			        		</div>
			        	</div>
			        	<div class="answerBlock">
			        		<ul class="textUl" v-if="q.answer[0].answerMP3==null&&q.answer[0].answerImg==null">
			        			<li v-for="(a,j) of q.answer" v-bind:onclick="'vueHomeworkPage.check(this,'+a.isRight+','+i+','+j+')'"><span>{{a.answerString}}</span></li>
			        		</ul>
			        		<ul class="audioUl"  v-if="q.answer[0].answerMP3!=null">
			        			<li v-for="(a,j) of q.answer">
			        				<span v-bind:onclick="'vueHomeworkPage.readVoice(this,\''+a.answerMP3+'\')'">
			        					<i class="icon-volume"></i>
			        				</span>
			        				<b v-bind:onclick="'vueHomeworkPage.check(this,'+a.isRight+','+i+','+j+')'"></b>
			        			</li>
			        		</ul>
			        		<ul class="imgUl" v-if="q.answer[0].answerImg!=null">
			        			<li v-for="(a,j) of q.answer" v-bind:onclick="'vueHomeworkPage.check(this,'+a.isRight+','+i+','+j+')'">
			        				<div v-bind:style="'background-image: url('+a.answerImg+')'">
			        					<i class="icon-cross"></i>
			        				</div>
			        			</li>
			        		</ul>
			        	</div>
		        	</div>
		        </article>
		      </li>
		  	</flip-card>
		</div>
	</template>
	<template id="workCompletePage">
		<div class="workCompletePage">
			<div class="scorePanel">
				<div class="circleBlock">
					<div class="circle">
						<b>{{this.score}}</b><span>分</span>
						<svg height="150px" width="150px" viewBox="0 0 150 150">
							<circle cx="75" cy="75" r="70"/>
							<circle ref="circle" cx="75" cy="75" r="70" stroke-dasharray="440" v-bind:stroke-dashoffset="offset" />
						</svg>	
					</div>
				</div>
				<h2>成績良好</h2>
				<div class="message">
					<p>您的分數還有很大的提升空間，請繼續加油吧!</p>
				</div>
			</div>
			<div class="numberBlock">
				<article>
					<div class="rightBlock">
						<h3><span></span>{{rightNum}}</h3>
						<p>正確作答</p>
					</div>
					<div class="faildBlock">
						<h3><span></span>{{faildNum}}</h3>
						<p>錯誤作答</p>
					</div>
				</article>
			</div>
			<div class="btnBlock">
				<span v-on:click="nextPage">查看答案詳情</span>
			</div>
		</div>
	</template>
	<template id="HomeworkReviewPage">
		<div class="HomeworkReviewPage">
			<div class="reviewBlock">
				<article v-for="(q,i) of questionResult">
					<h3><span>{{i}}.</span>{{q.questionStr}}</h3>
					<ul class="textUl" v-if="q.answer[0].answerMP3==null&&q.answer[0].answerImg==null">
	        			<li v-for="(a,j) of q.answer"
	        				v-bind:class="(checkGreen(q,j)?'green':'')+' '+(checkRed(q,j)?'red':'')">
	        			{{a.answerString}}{{(a.isRight)?' (正確答案)':''}}{{checkGreen(q,j)&&(q.wrong.length==0)?' (作對啦!)':''}}{{checkRed(q,j)?' (作錯啦!)':''}}</li>
	        		</ul>
	        		<ul class="textUl" v-if="q.answer[0].answerMP3!=null">
						<li v-for="(a,j) of q.answer"
	        				v-bind:class="(checkGreen(q,j)?'green':'')+' '+(checkRed(q,j)?'red':'')"><i class="icon-volume"></i>{{a.answerString}}{{(a.isRight)?' (正確答案)':''}}{{checkGreen(q,j)&&(q.wrong.length==0)?' (作對啦!)':''}}{{checkRed(q,j)?' (作錯啦!)':''}}</li>
					</ul>
					<ul class="imgUl" v-if="q.answer[0].answerImg!=null">
						<li v-for="(a,j) of q.answer"
	        				v-bind:class="(checkGreen(q,j)?'green':'')+' '+(checkRed(q,j)?'red':'')">
							<p>{{(a.isRight)?'(正確答案)':''}}{{checkGreen(q,j)&&(q.wrong.length==0)?' (作對啦!)':''}}{{checkRed(q,j)?' (作錯啦!)':''}}</p>
							<div v-bind:style="'background-image: url('+a.answerImg+');'"></div>
						</li>
					</ul>
					<p>
						答案解析: {{q.solution}}
					</p>
				</article>
			</div>
			<div class="btnBlock">
				<span class="btn border">完成課程</span>
				<span class="btn">簽到</span>
			</div>
		</div>
	</template>
	</div>
	<script type="text/javascript">
		vueFactory.flipCardComponent();
		var apiSimulateData={
			data:{
				isBuy:true,
				questions:[
					{
						questionStr:'Matter is _____ of atoms and molecules.',
						questionMP3:null,
						QuestionId:'dd9cb9ff-de62-e811-afb7-086266875831',
						answer:[
							{answerString:'making',answerMP3:null,answerImg:null,isRight:true},
							{answerString:'made',answerMP3:null,answerImg:null,isRight:false},
							{answerString:'changed',answerMP3:null,answerImg:null,isRight:false},
							{answerString:'fixed',answerMP3:null,answerImg:null,isRight:false},
						],
						wrong:[],//wrong為空的array代表已答題並答對
						solution:'這題因為是這樣所以才變成這樣的',
					},
					{
						questionStr:'Matter is _____ of atoms and molecules.',
						questionMP3:null,
						QuestionId:'dd9cb9ff-de62-e811-afb7-086266875831',
						answer:[
							{answerString:'making',answerMP3:'/mp3/nice-work.mp3',answerImg:null,isRight:true},
							{answerString:'made',answerMP3:'/mp3/nice-work.mp3',answerImg:null,isRight:false},
							{answerString:'changed',answerMP3:'/mp3/nice-work.mp3',answerImg:null,isRight:false},
							{answerString:'fixed',answerMP3:'/mp3/nice-work.mp3',answerImg:null,isRight:false},
						],
						wrong:[2,3],//wrong為有值array代表已答題並答錯
						solution:'這題因為是這樣所以才變成這樣的',
					},
					{
						questionStr:'Matter is _____ of atoms and molecules.',
						questionMP3:'/mp3/nice-work.mp3',
						QuestionId:'dd9cb9ff-de62-e811-afb7-086266875831',
						answer:[
							{answerString:'making',answerMP3:null,answerImg:null,isRight:true},
							{answerString:'made',answerMP3:null,answerImg:null,isRight:false},
							{answerString:'changed',answerMP3:null,answerImg:null,isRight:false},
							{answerString:'fixed',answerMP3:null,answerImg:null,isRight:false},
						],
						wrong:null,//未達過此題
						solution:'這題因為是這樣所以才變成這樣的',
					},
					{
						questionStr:'Matter is _____ of atoms and molecules.',
						questionMP3:null,
						QuestionId:'dd9cb9ff-de62-e811-afb7-086266875831',
						answer:[
							{answerString:'making',answerMP3:null,answerImg:'/img/homework/a.png',isRight:true},
							{answerString:'made',answerMP3:null,answerImg:'/img/homework/b.png',isRight:false},
							{answerString:'changed',answerMP3:null,answerImg:'/img/homework/c.png',isRight:false},
							{answerString:'fixed',answerMP3:null,answerImg:'/img/homework/d.png',isRight:false},
						],
						wrong:null,//未達過此題
						solution:'這題因為是這樣所以才變成這樣的',
					},
				],
			},
			msg:'request susscces !',
			status:1000,
		}
		Vue.component('homework-page',{
				template:"#HomeworkPage",
				data(){
					return {
						isLoad:false,
						isBuy:false,
						isFirstRoundAnswer:false,
						UserId:'123456789',//這個看你們打算怎麼傳
						pageCtrl:{
							total:0,
							current:1,
						},
						questions:[],
					}
				},
				mounted(){
					// this.mangoApi.post('WeChatQuestion/GetQuestionsByCourseInfoId',{id:'000-000-000'}).then(res=>{
					// 	this.initHomework(res);	
						this.initHomework(apiSimulateData);	
					// })
				},
				methods:{
					initHomework(res){
						this.questions = [];
						this.pageCtrl.current = 1;
						for(let data of res.data.questions){
							this.questions.push(data);
							if(data.wrong==null){ //判斷有沒有任何一題沒有作答過
								this.isFirstRoundAnswer = true; //有任何一題沒有作答過的話就為第一次做題
								data.wrong = [];
							}else{
								this.pageCtrl.current++; //如果做過的話則開頭往下題移動
							}
						}
						if(!this.isFirstRoundAnswer){
							this.pageCtrl.current=1;
							for(let q of this.questions){
								q.wrong = [];
							}
						}//如果不是第一次做題，則每次都重第一題開始並清空wrong
						this.pageCtrl.total = this.questions.length;
						this.isLoad = true;
						setTimeout(()=>{
							this.goPage(this.pageCtrl.current);
						},100)
					},
					goPage(num){
						this.pageCtrl.current = num;
						this.$refs.flipCard.goPage(num);
					},
					check(el,bool,questionIndex,answerIndex){
							if(bool){
								this.checkRight(el,questionIndex);
							}else{
								this.questions[questionIndex].wrong.push(answerIndex);
								this.checkFaild(el);
							}
					},
					checkRight(el,questionIndex){
						el.setAttribute('class','susscces');
						setTimeout(()=>{
							if(this.pageCtrl.current<this.pageCtrl.total){
								this.goPage(this.pageCtrl.current+1);
							}else{
								this.finish();
							}
						},200);

						// Result為wrong,做錯的答案，如果第一次作題wrong為空Array，而再次做題wrong不為空，則覆寫wrong;
						window.mangoApi.post('pathname',{
							QuestionId:this.questions[questionIndex].QuestionId,
							UserId:this.UserId,
							Result:this.questions[questionIndex].wrong
						})
						.then(res=>{}).catch(error=>{
							console.warn(error);
						})
					},
					checkFaild(el){
						el.setAttribute('class','faild');
					},
					readVoice(el,e){
				  		let audio = new Audio(e);
				  		let classReverve = el.className;
				  		audio.oncanplay = ()=>{
							el.setAttribute('class','playing '+classReverve);
				  			audio.play();
				  		}
				  		audio.onended = ()=>{
							el.setAttribute('class',classReverve);
				  		}
				  	},
				  	finish(){
						vueApp.initResult(this.questions);
						vueApp.goPage(1);
					},
				}
			});
		Vue.component('work-complete-page',{
			template:"#workCompletePage",
			data(){
				return {
					rightNum:0,
					faildNum:0,
					offset:440,
					score:0,
				}
			},
			methods:{
				initPage(data){
					this.rightNum = data.rightNum;
					this.faildNum = data.faildNum;
					this.score = parseInt(this.rightNum/(this.rightNum+this.faildNum)*100);
					this.animateCircle();
				},
				animateCircle(){
					setTimeout(()=>{
						this.offset = 440-(this.score/100)*440;
					},10)
				},
				nextPage(){
					vueApp.goPage(2);
				}
			}
		})
		Vue.component('homework-review-page',{
			template:"#HomeworkReviewPage",
			data(){
				return {
					questionResult:[]
				}
			},
			methods:{
				initPage(questions){
					console.log(questions);
					this.questionResult = questions;
				},
				checkGreen(q,j){
					if(q.answer[j].isRight==true){
						return true;
					}else{
						return false;
					}
				},
				checkRed(q,j){
					if(q.wrong.length==0){
						return false;
					}else{
						for(let w of q.wrong){
							if(w==j){
								return true;
							}
						}
						return false;
					}
				}
			}
		})

		var vueApp = new Vue({
			el:"#app",
			data(){
				return {
					currentPage:0,
				}
			},
			mounted(){
				window.vueHomeworkPage = this.$refs.HomeworkPage;
			},
			methods:{
				initResult(questions){
					this.$refs.workCompletePage.initPage(this.collectCompletePage(questions))
					this.$refs.HomeworkReviewPage.initPage(questions);
				},
				goPage(num){
					this.currentPage = num;
				},
				collectCompletePage(questions){
					let rightNum = 0;
					let faildNum = 0;
					for(let q of questions){
						if(q.wrong.length>0){
							faildNum++;
						}else{
							rightNum++;
						}
					}
					return {rightNum,faildNum}
				}
			}
		});
	</script>
</body>
</html>

<!--
##關於 onclick="vueHomeworkPage.someFunction()" 而不是 v-on:click="someFunction" 的註解:
	由於<flip-card></flip-card>的這個Component會把以下結構:

	<flip-card>
		<li></li>
		<li></li>
	</flip-card>

	中的<li>裡的內容,已經透過v-html轉換成rawHtml
	所以v-on:click所綁定的 Dom,已經不是最後呈現的Dom了(新生成的 Dom 已經脫離 Vue 的 Dom tree, 也不會有v-on:的綁定)，故此使用全域的 onclick="vueHomeworkPage.someFunction()" 作為代替
	詳情參考: /vueFactory/src/components/flipCardComponent => initDom();
-->