 <!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta charset="utf-8">
	<meta name="chartset">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<link rel="stylesheet" type="text/css" href="/css/bundle.css">
	<link rel="stylesheet" type="text/css" href="/css/app.css">
	<link rel="stylesheet" type="text/css" href="/css/edit.css">
	<script type="text/javascript" src="/js/bundle.js"></script>
	<script type="text/javascript" src="/js/app.js"></script>
	<script type="text/javascript" hostname="http://talko.autoyu1314.com/api/" src="/js/mangoApiLite.js"></script>
</head>
<body>
	<div class="wrapper" id="app" v-cloak>
		<div class="textPage">
			<test-btn :name="'click me'" v-on:tap="onClick"></test-btn>	
		</div>
		<div>{{resData}}</div>
	</div>

	<script type="text/javascript">
		vueFactory.testBtn();
		new Vue({
			el:"#app",
			data(){
				resData:'',
			},
			mounted(){
				this.getContentFromApi();
			},
			methods:{
				onClick(e){
					console.log(e);
				},
				getContentFromApi(){
					mangoApi.post('somewhere/from/api',{argument:'string'}) // mangoApi.post('api路徑',請求的JSON)
					.then(res=>{            // 關於 then() 跟 catch() 請查閱ES6:"Promise"
						console.log(res);   // res:回傳的JSON 
						this.resData = res; //把結果帶回頁面上
					}).catch(error=>{
						console.log(error); // error:連線錯誤或server錯誤
					})
				}
			}
		})
	</script>
</body>
</html>