 <!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta charset="utf-8">
	<meta name="chartset">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<!-- <link rel="stylesheet" type="text/css" href="/css/bundle.css"> -->
	<link rel="stylesheet" type="text/css" href="/css/app.css">
	<link rel="stylesheet" type="text/css" href="/css/edit.css">
	<script type="text/javascript" src="/js/bundle.js"></script>
	<script type="text/javascript" src="/js/app.js"></script>
</head>
<body>
	<div class="wrapper" id="app" v-cloak>
		<div v-bind:class="video.fullscreenMode?'videoPage fullscreen':'videoPage'">
			<section class="videoMain">
				<div class="videoWrapper" id="videoWrapper">
					<video ref="video" v-bind:src="video.src">
					   <track v-for="sub of video.subtitleSrc"
					   		v-bind:label="sub.lang"
					   		v-bind:srclang="sub.lang"
					   		kind="subtitles"
					   		v-bind:src="sub.src">
					</video>
					<div class="layout" v-bind:class="(video.status==0)?'onPause':''">
						<div class="playBtnBlock"
							v-on:click="togglePlay">
							<img src="/img/video/play.png">
						</div>
						<img v-show="!video.fullscreenMode" class="fullScreenIcon" v-on:click="toggleFullscreen" src="/img/video/fullscreen.png">
						<img v-show="video.fullscreenMode" class="fullScreenIcon" v-on:click="toggleFullscreen" src="/img/video/close_white.png">
						<ul class="subtitleSelectBlock" v-if="video.subFrameOpen">
							<li v-for="(sub,index) of render.subtitleRef"
								v-bind:class="(video.subtitle==index)?'active':''"
								v-on:click="setSubtitle(index)">{{sub}}</li>
						</ul>
						<div class="contrlBar">
							<div class="timeCtrl">
								<span>{{minutesFormater(video.currentTime)}}</span>
								<div class="timeBar">
									<div class="progress" ref="progress"><b></b></div>
								</div>
								<span>-{{minutesFormater(video.duration)}}</span>
							</div>
							<div class="subCtrl">
								<span v-on:click="video.subFrameOpen = true">{{render.subtitleRef[video.subtitle]}}</span>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="textFrame" ref="textFrame" v-show="!video.fullscreenMode">
				<ul>
					<li v-for="(text,index) of textFrame.textList" v-on:click="selectToOpen(index)">
						<div class="container">
							<p>
								{{index+1}}. {{text.En}}
								<img v-on:click="showTranslate(text)" class="translate" src="/img/video/translate.png">
							</p>
							<p v-if="text.translate">{{text.Ch}}</p>
							<div class="recordBlock" v-if="text.recordOpen">
								<div v-show="text.recordDuration==0">
									<img v-show="!text.recording" src="/img/video/start.png"
										 v-on:click="stratRecord(text,index)">
									<img v-show="text.recording" src="/img/video/stop.png"
										 v-on:click="stopRecord(text,index)">
								</div>
								<div v-show="text.recordDuration>0" class="recorded">
									<img src="/img/video/recall.png">
									<span>{{text.recordDuration.toFixed(1)}}</span>
									<img src="/img/video/close.png" class="close" v-on:click="clearRecord(text,index)">
								</div>
							</div>
						</div>
					</li>
				</ul>
				<div class="btnBlock">
					<a href="#">
						<img src="/img/video/button.png">
					</a>
				</div>
			</section>
		</div>
	</div>

	<script type="text/javascript">
		/*README*/
		/*
			註解錨點:
			//在此增加文字定位
			//錄音過程...
			//錄音完成...
		*/
		/*README*/

		new Vue({
			el:"#app",
			data(){
				return {
					render:{
						subtitleRef:['關閉字幕','英文字幕','雙語字幕']
					},
					video:{
						el:null,
						progressEl:null,
						src:'/img/upload/MatildaHo.mp4',
						subtitleSrc:[
							{lang:'EN',src:'/img/upload/MatildaHo_EN.vtt'},
							{lang:'CH',src:'/img/upload/MatildaHo_CH.vtt'}
						],
						status:0, //0:stop,1:playing,
						subtitle:1, //0:關閉字幕 1:英文字幕 2:雙語字幕
						subFrameOpen:false,
						currentTime:0,
						duration:0,
						fullscreenMode:false,
					},
					textFrame:{
						el:null,
						isRecording:false,
						textList:[
							{	
								timeStamp:'00:00:00', // 這個還沒使用，只是概念參考
								En:'Wait, Are we drunk or do we finally have one brain and the same taste in guys?',
								Ch:'等等，我们喝醉了，还是我们终于有一个大脑，并在家伙的同一口味？',
							},
							{	
								timeStamp:'00:00:00', // 這個還沒使用，只是概念參考
								En:'Wait, Are we drunk or do we finally have one brain and the same taste in guys?',
								Ch:'等等，我们喝醉了，还是我们终于有一个大脑，并在家伙的同一口味？',
							},
							{	
								timeStamp:'00:00:00', // 這個還沒使用，只是概念參考
								En:'Wait, Are we drunk or do we finally have one brain and the same taste in guys?',
								Ch:'等等，我们喝醉了，还是我们终于有一个大脑，并在家伙的同一口味？',
							},
							{	
								timeStamp:'00:00:00', // 這個還沒使用，只是概念參考
								En:'Wait, Are we drunk or do we finally have one brain and the same taste in guys?',
								Ch:'等等，我们喝醉了，还是我们终于有一个大脑，并在家伙的同一口味？',
							},
							{	
								timeStamp:'00:00:00', // 這個還沒使用，只是概念參考
								En:'Wait, Are we drunk or do we finally have one brain and the same taste in guys?',
								Ch:'等等，我们喝醉了，还是我们终于有一个大脑，并在家伙的同一口味？',
							}
						]
					},
					recordObj:null, //錄製中的暫存
				}
			},
			mounted(){
				this.video.el = this.$refs.video;
				this.textFrame.el = this.$refs.textFrame;
				this.video.el.oncanplay=this.videoInit;
			},
			methods:{
				/*Video*/
				videoInit(){
					this.video.progressEl = this.$refs.progress;
					this.video.duration = this.video.el.duration;
					this.video.el.ontimeupdate = this.onTimeupdate;
					this.video.el.onplaying = this.onPlaying;
					this.video.el.onpause = this.onPause;
					this.setSubtitle();
					this.textFrameInit();
				},
				togglePlay(){
					switch(this.video.status){
						case 0:
							this.videoPlay();
							break;
						case 1:
							this.videoPause();
							break;
						default:
							break;
					}
				},
				videoPlay(){
					this.video.el.play();
				},
				videoPause(){
					this.video.el.pause();
				},
				setSubtitle(num){
					this.video.subtitle = (num!=null)?num:this.video.subtitle;
					switch(this.video.subtitle){
						case 0:
							for(let t of this.video.el.textTracks){
								if(t){
									t.mode = 'disabled';
								}
							}
							break;
						case 1:
							for(let t of this.video.el.textTracks){
								if(t){
									t.mode = (t.language=='EN')?'showing':'disabled';
								}
							}
							break;
						case 2:
							for(let t of this.video.el.textTracks){
								if(t){
									t.mode = 'showing';
								}
							}
							break;
						default:
							break;
					}
					console.log(this.video.el.textTracks);
					this.video.subFrameOpen=false;
				},
				onTimeupdate(e){
					this.video.currentTime = this.video.el.currentTime;
					this.timeCalculate();
					//在此增加文字定位
				},
				onPause(){
					this.video.status = 0;
				},
				onPlaying(){
					this.video.status = 1;
				},
				minutesFormater(time){
					let min = Math.floor(time/60);
					let sec = Math.floor(time%60);
					return this.zeroFormater(min)+':'+this.zeroFormater(sec)
				},
				zeroFormater(num){
					if(num==0){return '00'}
					else if(num<10){return '0'+num}
					else{ return num }
				},
				timeCalculate(){
					this.video.progressEl.style.width = (this.video.currentTime/this.video.duration)*100+'%';
				},
				toggleFullscreen(){
					this.video.fullscreenMode = !this.video.fullscreenMode;
				},

				/*textFrame*/
				textFrameInit(){
					this.textFrame.el.style.height = window.innerHeight - this.video.el.clientHeight + 'px';
					for(let text of this.textFrame.textList){
						text.translate = false;
						text.recordOpen = false;
						text.recording = false;
						text.recordDuration = 0;
						text.recordFile = '';
					}
				},
				showTranslate(textObj){
					textObj.translate = true;
					this.$forceUpdate();
				},
				selectToOpen(index){
					if(this.textFrame.isRecording){return false;}
					for(let text of this.textFrame.textList){
						text.recordOpen = false;
					}
					this.textFrame.textList[index].recordOpen = true;
					this.$forceUpdate();
				},
				stratRecord(textObj,index){
					this.videoPause();
					this.textFrame.isRecording = true;
					textObj.recording = true;
					this.createRecording();
					this.$forceUpdate();
				},
				stopRecord(textObj,index){
					this.textFrame.isRecording = false;
					textObj.recording = false;
					this.getRecording(textObj,index);
					this.$forceUpdate();
				},
				createRecording(){
					//錄音過程...
					this.recordObj = {
						duration:2.9,
						file:'/some/where/'
					} 
				},
				getRecording(textObj,index){
					//錄音完成...
					textObj.recordDuration = this.recordObj.duration;
					textObj.recordDuration.recordFile = this.recordObj.file;
					this.recordObj.duration = 0;
					this.recordObj.file = '';
				},
				clearRecord(textObj,index){
					textObj.recordDuration = 0;
					textObj.recordDuration.recordFile ='';
				}
			}
		})
	</script>
</body>
</html>