 <!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta charset="utf-8">
	<meta name="chartset">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<!-- <link rel="stylesheet" type="text/css" href="/css/bundle.css"> -->
	<link rel="stylesheet" type="text/css" href="/css/app.css">
	<link rel="stylesheet" type="text/css" href="/css/edit.css">
	<script type="text/javascript" src="/js/bundle.js"></script>
	<script type="text/javascript" src="/js/app.js"></script>
</head>
<body>
	<div class="wrapper" id="app" v-cloak>
		<div class="container">
			<section class="VoiceComparePage">
				<h1>看视频</h1>
				<div class="EZvideo">
					<div class="EZWrapper" id="videoWrapper">
						<video ref="video" v-bind:src="video.src">></video>
						<div class="layout" v-bind:class="(video.status==0)?'onPause':''">
							<div class="playBtnBlock"
								v-on:click="togglePlay">
								<img src="/img/video/play.png">
							</div>
							<div class="contrlBar">
								<div class="timeCtrl">
									<span>{{minutesFormater(video.currentTime)}}</span>
									<div class="timeBar" ref="timeBar"
										v-on:touchstart="DragStart($event)"
										v-on:touchmove="DragMove($event)"
										v-on:touchend="DragEnd()"
										>
										<div class="progress" ref="progress">
											<b></b>
										</div>
									</div>
									<span>-{{minutesFormater(video.duration)}}</span>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="sentenceBlock">
					<p>{{voice.target}}</p>
				</div>
				<div class="scoreBlock" v-if="voice.recordScore>=0">
					<b v-if="voice.recordScore>=80"></b>
					<span v-bind:class="(voice.recordScore>=60?' orange':'')+
										(voice.recordScore>=80?' green':'')
									   ">{{parseInt(voice.recordScore)}} 分</span>
				</div>
				<div class="recordBlock">
					<div class="recall">
						<img v-show="voice.recordDuration==0" src="/img/video/recall_empty.png">
						<div v-show="voice.recordDuration>0" class="recorded">
							<img src="/img/video/recall.png">
							<span>{{voice.recordDuration.toFixed(1)}}</span>
						</div>
					</div>
					<div class="mic">
						<img v-show="voice.status==1" src="/img/video/start.png" v-on:click="startRecording()">
						<img v-show="voice.status==2" src="/img/video/stop.png" v-on:click="stopRecording()">
						<img v-show="voice.status==3" src="/img/video/progressing.png">
					</div>
					<div class="next">
						<img src="/img/video/next.png" v-on:click="nextPage">
					</div>
				</div>
			</section>
		</div>
	</div>
	<script type="text/javascript">

		var app = new Vue({
			el:"#app",
			data(){
				return {
					video:{
						el:null,
						progressEl:null,
						src:'/img/upload/MatildaHo.mp4',
						subtitleSrc:[
							{lang:'EN',src:'/img/upload/MatildaHo_EN.vtt'},
							{lang:'CH',src:'/img/upload/MatildaHo_CH.vtt'}
						],
						status:0, //0:stop,1:playing,
						subtitle:1, //0:關閉字幕 1:英文字幕 2:雙語字幕
						subFrameOpen:false,
						currentTime:0,
						duration:0,
						fullscreenMode:false,
					},
					timeBar:{
						startPos:0,
						endPos:0,						
					},
					voice:{
						target:'What exit do I get off on', //題目
						status:1, // 1.ready to recording  2.wait for end  3.progressing
						recordDuration:0,
						recordScore:-1,
					},
					recordObj:null, //錄製中的暫存
				}
			},
			mounted(){
				this.video.el = this.$refs.video;
				this.video.el.oncanplay=this.videoInit;
				window.videoEl = this.video.el;

				this.timeBar.startPos = this.$refs.timeBar.offsetLeft + 10;
				this.timeBar.endPos = this.timeBar.startPos +this.$refs.timeBar.offsetWidth ;
			},
			methods:{
				/*Video*/
				videoInit(){
					this.video.progressEl = this.$refs.progress;
					this.video.duration = this.video.el.duration;
					this.video.el.ontimeupdate = this.onTimeupdate;
					this.video.el.onplaying = this.onPlaying;
					this.video.el.onpause = this.onPause;
				},
				togglePlay(){
					switch(this.video.status){
						case 0:
							this.videoPlay();
							break;
						case 1:
							this.videoPause();
							break;
						default:
							break;
					}
				},
				videoPlay(){
					this.video.el.play();
				},
				videoPause(){
					this.video.el.pause();
				},
				onTimeupdate(e){
					this.video.currentTime = this.video.el.currentTime;
					this.timeCalculate();
				},
				onPause(){
					this.video.status = 0;
				},
				onPlaying(){
					this.video.status = 1;
				},
				minutesFormater(time){
					let min = Math.floor(time/60);
					let sec = Math.floor(time%60);
					return this.zeroFormater(min)+':'+this.zeroFormater(sec)
				},
				zeroFormater(num){
					if(num==0){return '00'}
					else if(num<10){return '0'+num}
					else{ return num }
				},
				DragStart(event){
					this.video.el.pause();
					this.setDragPosition(event.targetTouches[0].clientX);
				},
				DragMove(event){
					this.setDragPosition(event.targetTouches[0].clientX);
				},
				DragEnd(){
					this.video.el.play();
				},
				setDragPosition(x){
					console.log(this.timeBar.startPos+'/'+this.timeBar.endPos);
					if(x<=this.timeBar.startPos){
						this.video.el.currentTime = 0;
						return true;	
					}
					if(x>=this.timeBar.endPos){
						this.video.el.currentTime = this.video.el.duration;
						return true;
					}
					this.video.el.currentTime = this.video.el.duration*(x-this.timeBar.startPos)/(this.timeBar.endPos - this.timeBar.startPos);
				},
				timeCalculate(){
					this.video.progressEl.style.width = (this.video.currentTime/this.video.duration)*100+'%';
				},


				/*voice-detect*/
				startRecording(){
					this.voice.status=2;
					this.createRecording();
				},
				stopRecording(){
					this.voice.status=3;
					this.getRecording().then(()=>{
						this.voice.status=1;
					});	
				},
				createRecording(){
					//錄音過程...
					// wx.startRecord({
					// 	success: function (res) { },
					// 	cancel: function () {
					// 	alert('用户拒绝授权录音');
					// 	}
					// });
				},
				getRecording(){
					//錄音完成...
					return new Promise((r,error)=>{
						
						//  wx.stopRecord({
						// 	success: function (res) {
						// 		try {
									//  使用app.voice.target跟語音內容作比對 
									app.recordObj = {
										duration:2.9,
										file:'/some/where/',
										score:40,
									}
									app.voice.recordDuration = app.recordObj.duration; 
									app.voice.recordScore = app.recordObj.score; 
									r();
						// 		}
						// 		catch (e) {
						// 			alert(e);
									//  error(e);
						// 		}
						// 	}
						// });
					})
				},
				nextPage(){
					//前往下一頁/下一題
				}
			}
		})
	</script>
</body>
</html>