body,
ol,
ul,
h1,
h2,
h3,
h4,
h5,
h6,
p,
th,
td,
dl,
dd,
form,
fieldset,
legend,
input,
textarea,
select {
  margin: 0;
  padding: 0;
}
.popbox{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0,0,0,.38);
}
.popcont{
	width: 90%;
	height:150px;
	margin-top: -75px;
	position: absolute;
	top: 50%;
	left: 5%;
	background: #fff;
	border-radius: 10px;
	text-align: center;	
}
.popcont_hread{
	padding: 10px 0;
}
.popcont h1{
	line-height: 40px;
	color: #323232;
	font-size: 18px;	
}
.popcont p{
	line-height: 40px;
	color: #7b7b7b;
	font-size: 18px;	
}
.popcont_btn{
	height: 50px;
	line-height: 50px;
	border-top: 1px #e6e6e6 solid;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #14ce00;
	font-size: 18px;
	text-decoration:none
}
.spinner {
  width: 60px;
  height: 60px;
  position: absolute;
  top: 50%;
  margin-top: -30px;
  left: 50%;
  margin-left: -30px;
  text-align: center;
  font-size: 10px;
}
 
.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #333;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
   
  -webkit-animation: bounce 2.0s infinite ease-in-out;
  animation: bounce 2.0s infinite ease-in-out;
}
 
.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}
 
@-webkit-keyframes bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}
 
@keyframes bounce {
  0%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}