<template>
  <div class="previewPage" style="background-image: url(/img/preview/bg.png)">
  	<flip-card>
      <li>
        <article class="card">
          <div class="topBanner" style="background-image: url(/img/upload/preview/1.png)">
            <h2>今日重点</h2>
          </div>
          <div class="content">
            <p>相信很多英语学习者从小就知道，想要自然的打开话匣子或者搭讪，谈论weather是个最简单最合理的方法了！</p>
            <ul class="dotted">
              <li>How’s the weather?</li>
              <li>What’s it like out there?</li>
              <li>What’s the weather forecast? = What is the weather expected to be like?</li>
            </ul>
          </div>
        </article>
      </li>
      <li>
        <article class="card">
          <div class="topBanner" style="background-image: url(/img/upload/preview/2.png)">
            <h2>必备词汇</h2>
          </div>
          <div class="content">
            <div class="voice"><img src="/img/preview/voice.png"><span class="colour">Tram  [ træm ]</span></div>
            <div class="padding">
              <ul>
                <li>n. 电车轨道；煤车</li>
                <li>vt. 用煤车运载</li>
                <li>vi. 乘电车</li>
              </ul>
            </div>
            <div class="voice"><img src="/img/preview/voice.png"><span>get on a tram 上电车</span></div>
          </div>
        </article>
      </li>
      <li>
        <article class="card">
          <div class="topBanner" style="background-image: url(/img/upload/preview/3.png)">
            <h2>实用主题句</h2>
          </div>
          <div class="content withBtn">
            <div class="voice"><img src="/img/preview/voice.png"><span class="colour">What exit do I get off on?</span></div>
            <div class="padding">
              <h4>我应该在哪站下车？</h4>
              <p class="light">本句可拆分成3块：What exit/do I get off/on?“get off”表示“下车”。重点在第三块，这里的on并不是跟前面的get off组合一起，而是修饰exit，表示“在”。把on放句末是老外的一种习惯性表达。</p>
            </div>
          </div>
          <div class="btnBlock">
            <img src="/img/preview/Button.png">
          </div>
        </article>
      </li>
  	</flip-card>
  </div>
</template>
<script>
export default {
  name: 'app',
  data(){
  	return{

  	}
  }
}
</script>
<style type="text/css">
.previewPage .flipCardComponent{
	height: 85vh;
	width: 100vw;
}
.previewPage{
	display: flex;
	height: 100vh;
	align-items: center;
	justify-content: center;
	background-position: center;
	background-size: cover;
	background-color: #999;
}
.previewPage .card{
	background-color: #fff;
	border-radius: 9px;
	width: 100%;
	height: 100%;
	box-shadow: 1px 1px 5px #00000024;
	overflow: hidden;
}
.previewPage .card .topBanner{
	height: 40%;
	border-radius: 9px;
	background-size: cover;
	background-position: center;
	position: relative;
	background-color: #333;
}
.previewPage .card .topBanner h2{
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 20px;
	color: #fff;
	font-weight: 600;
	font-size: 1.9rem;
	text-shadow: 1px 1px 5px #00000029;}
.previewPage .card .content{
	height: calc(60% - 40px);
	margin: 20px;
	overflow: auto;
	color: #2d2d2d;}
.previewPage .card .content.withBtn{}
.previewPage .card .voice{
	display: flex;
	align-items: center;
	margin: 5px 0;
	cursor: pointer;}
.previewPage .card .voice img{
	padding-right: 8px;
	width: 20px;}
.previewPage .card .voice span{
	display: block;
	margin-bottom: 3px;}
.previewPage .card .voice span.colour{
	color: #ade5ff;}
.previewPage .card .padding{;
	padding-left: 28px;}
.previewPage .card h4{
	margin-bottom: 10px;}
.previewPage .card p{
	line-height: 1.7;}
.previewPage .card .light{
	color: #888;}
.previewPage .card ul{;
	margin-bottom: 10px;}
.previewPage .card ul li{
	margin: 5px 0;}
.previewPage .card ul.dotted li{
	list-style: disc;
	margin: 7px 0;
	line-height: 1.4;
}
.previewPage .card ul.dotted{
	list-style: circle;
	padding-left: 22px;
}
</style>
