<template>
	<span class="testBtn" v-on:click="onClick">
		{{name}} {{count}}
	</span>
</template>

<script>
export default {
  name: 'test-btn',
  props: {
  	name:{
  		default:'test'
  	}
  },
  data(){
  	return{
	  	count:0
  	}
  },
  methods:{
  	onClick(){
  		this.count++;
  		this.$emit('tap',this.count);
  	}
  }
}
</script>
<style type="text/css">
	.testBtn{
		background-color: #000;
		color: #fff;
		padding: 10px 20px;
		border-radius: 20px;
	}
</style>
